<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>TODO LIST</h1>
    <form id="task-input" action="/todo" method="POST">
      <input type="text" name="task" />
      <button type="submit">Submit</button>
    </form>
    <ol>
      {{#each todo}}
      <li>{{this}}</li>
      {{/each}}
    </ol>
  </body>
</html>
